___
# Ciência dos Dados - PROJETO 1

## COLOQUE AQUI SEU NOME
___

## TÍTULO DO SEU PROJETO

___
## Introdução

Descreva aqui o que pretende analisar!

Capriche no português!! 
Se quiser pode utilizar pesquisas semelhantes publicadas em sites confiáveis!!


acesso a informacao 
compracao acesso rede fechada influencias formacao de informacoes
sinal, qualidade influencia

-como cresceu o acesso a diferentes informacoes por renda?
-se o crescimento do acesso a internet afetou tv a cabo
-relacao ceular 3g 4g

___
## Análise e Resultados

In [8]:
%matplotlib inline
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
import os

In [9]:
print('Esperamos trabalhar no diretório')
print(os.getcwd())

Esperamos trabalhar no diretório
C:\Users\duda\Documents\ciencia dos dados\projeto1

In [10]:
#Se usar o arquivo descompactado
dados15=pd.read_csv('DOM2015.csv',sep=',')
dados14=pd.read_csv('DOM2014.csv',sep=',')
dados13=pd.read_csv('DOM2013.csv',sep=',')

In [12]:
dados15.UF= dados15.UF.astype('category')

dados15.V02424=dados15.V02424.astype("category") #acesso internet e feito  atraves de 3g/ 4g

dados15.V0207=dados15.V0207.astype("category") #condicao de moradia

dados15.V0220=dados15.V0220.astype('category') #tem telefone celular

dados15.V02272=dados15.V02272.astype('category') #tem tv por assinatura

dados15.V02322=dados15.V02322.astype('category') # tem acessoa a internet no domi

dados15.V4621=dados15.V4621.astype('float') # renda per capita

In [22]:
dados15.UF.cat.categories = (['Rondônia', 'Acre', 'Amazonas', 'Roraima', 'Pará', 'Amapá', 'Tocantins', 'Maranhão', 'Piauí', 'Ceará', 'Rio Grande do Norte', 'Paraíba', 'Pernambuco', 'Alagoas', 'Sergipe', 'Bahia', 'Minas Gerais', 'Espírito Santo', 'Rio de Janeiro', 'São Paulo', 'Paraná', 'Santa Catarina', 'Rio Grande do Sul', 'Mato Grosso do Sul', 'Mato Grosso', 'Goiás', 'Distrito Federal'])

dados15.V02424.cat.categories = (['sim', 'nao'])

dados15.V0207.cat.categories = (['Proprio- ja pago', 'Proprio- ainda pagando','alugado','cedido por empregador','cedido de outra forma','outra condicao'])

dados15.V0220.cat.categories = (['sim', 'nao'])

dados15.V02272.cat.categories = (['sim', 'nao'])

dados15.V02322.cat.categories = (['sim', 'nao'])

In [35]:
d15=dados15.loc[:,["UF", 'V0207','V4621','V02272','V02322','V0220','V02424']]

d15.columns=['Estados','Condicao_de_moradia','Renda','Tv_por_assinatura','Internet_no_domicilio','Celular','3G/4g']
d15.head(20)

,Estados,Condicao_de_moradia,Renda,Tv_por_assinatura,Internet_no_domicilio,Celular,3G/4g
0,Rondônia,alugado,800.0,nao,nao,sim,NaN
1,Rondônia,NaN,NaN,NaN,NaN,NaN,NaN
2,Rondônia,alugado,1150.0,NaN,sim,sim,sim
3,Rondônia,Proprio- ja pago,793.0,nao,sim,sim,sim
4,Rondônia,Proprio- ja pago,2900.0,NaN,nao,sim,NaN
5,Rondônia,Proprio- ja pago,1990.0,nao,sim,nao,nao
6,Rondônia,Proprio- ja pago,350.0,nao,nao,sim,NaN
7,Rondônia,Proprio- ja pago,1333.0,nao,nao,sim,NaN
8,Rondônia,alugado,818.0,nao,sim,sim,sim
9,Rondônia,NaN,NaN,NaN,NaN,NaN,NaN
10,Rondônia,Proprio- ja pago,1716.0,sim,sim,sim,sim
11,Rondônia,Proprio- ja pago,2500.0,nao,sim,sim,sim
12,Rondônia,NaN,NaN,NaN,NaN,NaN,NaN
13,Rondônia,alugado,1400.0,nao,sim,sim,sim
14,Rondônia,NaN,NaN,NaN,NaN,NaN,NaN
15,Rondônia,alugado,666.0,nao,sim,sim,sim
16,Rondônia,Proprio- ja pago,788.0,nao,nao,sim,NaN
17,Rondônia,Proprio- ja pago,750.0,nao,sim,sim,nao
18,Rondônia,Proprio- ja pago,1437.0,sim,sim,sim,nao
19,Rondônia,Proprio- ja pago,600.0,nao,sim,sim,nao

In [37]:
d15[d15.Estados=='São Paulo']
crt=pd.crosstab(d15.Renda,d15.Tv_por_assinatura,margins=True,rownames=['Renda'], colnames=['Tv'])
crt.head(10)

Tv     sim  nao  All
Renda
0.0    141  482  623
5.0      0    1    1
6.0      0    1    1
7.0      0    3    3
8.0      2    6    8
10.0     0    4    4
11.0     0    4    4
12.0     0    3    3
14.0     0    6    6
15.0     0    9    9

In [ ]:
plot = crt.plot(kind='bar', stacked=True,title='Sao Paulo')
plt.ylabel('renda')
plt.xlabel('tv por assinatura')
plt.show()

___
## Conclusão

Descreva aqui suas conclusões!